{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="container text-center">
        <h1 class="hero-title">Bienvenue sur votre plateforme E-Learning</h1>
        <p class="hero-subtitle">Apprenez à votre rythme avec des cours interactifs et modernes.</p>
        
    </div>
</section>


<section class="welcome-section">
    <div class="container">
        <h2 class="text-center">Pourquoi choisir notre plateforme ?</h2>
        <div class="grid">
            <div class="card">
                <h3>Apprentissage Flexible</h3>
                <p>Apprenez à votre rythme, où que vous soyez, avec un accès 24/7 à vos cours.</p>
            </div>
            <div class="card">
                <h3>Contenu de Qualité</h3>
                <p>Des cours créés par des experts pour garantir une expérience d’apprentissage optimale.</p>
            </div>
            <div class="card">
                <h3>Communauté Active</h3>
                <p>Interagissez avec d’autres apprenants et enseignants pour enrichir votre expérience.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}